@import '../partials/variables';


.header {
    height: 10.563rem;
    // padding: 0 1rem;

    &__navigation {
        padding: 0 1rem;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    &__logo {
        width: 55%;
        height: 3rem;
    }

    &__search-bar{
        width: 92%;
        padding: 0.937rem;
        background-color: $text-field-background-color;
        border: 1px solid $text-field-border-color;
        border-radius: 0.312rem;
    }

    &__video-upload{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    &__upload-box {
        color: white;
        margin-right: 1rem;
        background-color: $primary-cta-text-color;
        border: 1px solid skyblue;
        border-radius: 0.375rem;
        width: 100%;

        &:hover {
            background-color: $primary-cta-hover-color;
        }
    }

    &__user-image{
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }
}