@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next BoldIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-BoldIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-BoldIt.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next DemiIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-DemiIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-DemiIt.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next Heavy';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Heavy.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Heavy.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next HeavyIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-HeavyIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-HeavyIt.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Light';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Light.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Light.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next LightIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-LightIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-LightIt.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Medium';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Medium.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Medium.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next MediumIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-MediumIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-MediumIt.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Thin';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Thin.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Thin.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next ThinIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-ThinIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-ThinIt.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Ult';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-UltLt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-UltLt.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next UltIt';
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-UltLtIt.woff") format("woff");
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-UltLtIt.woff2") format("woff2");
    font-weight: 400;
}