// Global Color
$paragraph-text-color: #323232;
$text-label-color: #AFAFAF;
$text-field-border-color: #E1E1E1;
$text-field-background-color: #FAFAFA;

// BrainFlix Color
$navigation-background-color: #323232;
$primary-cta-text-color: #0095FF;
$primary-cta-hover-color: #0065AD;